<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692312903496-l16p3pk641j9tjgdnu9b9f1cfjsat48t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692312903496-l16p3pk641j9tjgdnu9b9f1cfjsat48t</string>
	<key>API_KEY</key>
	<string>AIzaSyAufQXoyrASlr9ckbsCW2G7I_6-poNCkdg</string>
	<key>GCM_SENDER_ID</key>
	<string>692312903496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docspot</string>
	<key>PROJECT_ID</key>
	<string>nearby-medical-help</string>
	<key>STORAGE_BUCKET</key>
	<string>nearby-medical-help.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692312903496:ios:6cfbfc5801ae055fba6d7d</string>
</dict>
</plist>